
/* -------------------------------------------------- */
/* !- Product View Qty Plus Minus. @author github.com/alex-parra */
.product-view .product-shop {

  .add-to-cart { position: relative; }
  .qty-holder {
    position: absolute; bottom: 100%; right: 0; padding-bottom: 10px;

    label { display: inline-block; vertical-align: middle; margin: 0; }
    .qty-wrap { display: inline-block; vertical-align: middle; border: 1px solid #ddd; border-radius: 3px; max-width: 6em; }
    .input-text.qty { display: block; width: 100%; border: none; padding: 0.4em 0.25em; font-size: 1.2em; text-align: center; }

    .qty-wrap.plus-minus {
      position: relative; padding: 0 2.5em; max-width: 8em; line-height: 0; font-weight: 300;
    
      .input-text.qty { line-height: 1.4; }
      .qty-btn { position: absolute; left: 0; top: 50%; width: 2.5em; height: 100%; text-align: center; font-size: 1em; color: #888; @include translate(0%, -50%); }
      .qty-btn:before { position: absolute; left: 50%; top: 50%; font-size: 1.5em; color: inherit; @include translate(-50%, -50%); }
      .qty-btn:hover { cursor: pointer; background-color: #eee; color: #222; }
      .qty-btn.qty-plus { left: auto; right: 0; }
      .qty-btn.qty-plus:before { content: "\002B"; }
      .qty-btn.qty-minus {  }
      .qty-btn.qty-minus:before { content: "\2212"; }
    } // .qty-wrap.plus-minus
  
  } // .qty-holder

  .price-box {
    white-space: nowrap;
    .regular-price { display: inline-block; vertical-align: middle; min-width: 8em; margin-right: 20px; }
    .qty-holder { position: relative; bottom: auto; right: auto; top: auto; left: auto; padding: 0; display: inline-block; vertical-align: middle; }
  }

} // .product-view .product-shop
/* -------------------------------------------------- */
